*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
}

.headercontainer{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    background-image:linear-gradient(rgba(238, 71, 0, 0.7),rgba(230, 84, 0, 0.7)),url('');
    margin-left: auto;
    margin-right: auto;
    /*position: fixed;*/
}
.headercontainer img{
    width: 100%;
    margin-top: -1px;
    padding: 2px;
    height:12vh;
    background-color: #ffffff;
    
    

}
li{
    list-style:none;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
a:hover{
    border-bottom: 1px solid rgb(255, 194, 178);
    transition: 1s;
}

h1{
    color: rgb(255, 0, 0);
    font-family:Sorts Mill Goudy;
    margin: 24px 22px;
    font-size: 121px;

}

p{
    color: blanchedalmond;
    font-family: Lora ;
    font-size: 30px;
    text-align: center;
    padding: 2px 0;
}
/*home page*/
.maincontainer h1{
    color: rgb(255, 0, 0);
    font-family:Sorts Mill Goudy;
    margin: 24px 22px;
    font-size: 121px;

}

.maincontainer p{
    color: pink;
    font-family: Lora ;
    font-size: 30px;
    text-align: center;
    padding: 2px 0;
}

.items{
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    margin: 10px 1rem;
    padding: 15px 0;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: 70vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('BG.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.mainContainer p{
    font-family: Copperplate Gothic;
    font-size: 38px;
}
.about{
    
    padding-top: 95px;
    padding: 141px 101px;
    margin: 2px 17px;
    height: 480px;
}
.about-text p{
    display: grid;
   font-size: 24px;
    text-align:right;
    gap: 1rem;
    color: black;
    position: relative;
    bottom: 214px;
}
.about-text h2{
    color: rgb(94, 0, 0);
    text-align: right;
    font-size: 41px;
    padding-top: 16px;
    position: relative;
    bottom: 214px;
    text-align: center;
    padding: 2px 2px;
    font-family: Sorts Mill Goudy;
    margin: 15px 0 30px;
}
.about-img{
    height: 40px;
    width: 100%;
    border-radius: 6px;
}

/*campaign section*/
.category h1{
    padding-top: 128px;
    font-size: 78px;
    text-align: center;
   
    color: rgb(94, 0, 0);
}

.box{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.box-container::after{
    display: table;
    clear: both;
    content: "";

}
.box img{
       
            height: 20rem;
            width: 20rem;
            border-radius: 50%;
            margin-bottom: 1rem;
            display: flex;
        }

 /*footer*/

 #footer{
    padding: 100px 0 100px;
    background:black;
    margin-top: 150px;
    width: 100%;
    height: 50%;
    display: grid;
    font-family: 'Libre Baskerville', serif;
 }

   
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 140px;
  box-sizing: initial;
    
    
 }
 
 .footer-left,.footer-centre,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: initial;
 }

 .footer-left{
    text-align: left;
    position: relative;
    bottom: 5%;
    left: 5%;
 }

 .footer-centre{
   
    text-align: right;
    position: static;
 
    
 }
 
 .footer-centre p{
    font-size: 20px;
    text-align: right;
      
 }

 .footer-centre .fa{
    margin: 10px;
    color:whitesmoke;
    font-size: 20px;   
 }
 

 

 .social-links{
    text-align:left;
 
 }
 
  .social-links .fa{
    
    margin: 10px;
    color: whitesmoke;
    font-size: 20px;
    
 }
 
 .social-links .fa:hover{
    transform: translateY(-7px);
    background:blue;
    transition: 0.5s;
 }
 